@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Special+Elite&subset=latin-ext');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

div.score {
	width: 5vw;
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2rem;
	border: 1px solid red;
    position: absolute;
    top: 0;
    right: -5vw;
    height: 2em;
    text-align: center;
    padding: 0.5em;
    margin: 1em auto;
}

.border {
    display: inline-block;
    margin: 0 auto;
    border-left: 1px dashed black;
    border-top: 1px dashed black;
    margin: 1em auto;
    position: relative;
}

#board {
    width: 90vmin;
}

#board>div {
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
    float: left;
    width: 9vmin;
    height: 9vmin;
}

.furry {
    background-image: url('../images/furry.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.coin {
    background-image: url('../images/coin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: black;
}

section#over h1 {
    font-family: 'Special Elite', cursive;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
}

section#over h2 {
    font-family: 'Special Elite', cursive;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.invisible {
    display: none;
}
